@font-face {
    font-family: 'source_serif_proregular';
    src: url('sourceserifpro-regular.woff2') format('woff2'),
         url('sourceserifpro-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'source_sans_proregular';
    src: url('sourcesanspro-regular.woff2') format('woff2'),
         url('sourcesanspro-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
